<% if object.errors.any? %>
  <div class="alert alert-danger">
    <p>The form contains <%= pluralize(object.errors.count, "error") %>.</p>
    <% object.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>